.todo-container{
  display: flex;
  flex-direction: column;
}
.todo-item{
  border: 2px solid #ccc;
  padding: 8px;
  margin: 2px;
  border-radius: 5px;
}
.todo-heading{
 font-size: 18px;
 font-weight: normal;
 font: optional;
 width: 60%;
 text-align: left;
}

p{
  font-size: 14px;
  min-width: fit-content;
  margin:5px;
}

.todo-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border-radius: 10%;
}
.todo-delete-button:hover{
  background-color: #800040;
}
.todo-edit-button:hover{
  background-color: #c9c9c0;
}
